<section class="description">
  <p>
    On the main page where there is a lots of information, I used vertical alignment, repetition and shape size to make the website easier to interpret for new users. Since the website is essentially one giant advertisement, these design principles are very beneficial for that purpose. The benefits come from providing the user with direct information; information that takes very little cognitive processing. The lack of text and emphasis on multimedia content holds a user's interest - ultimately leading them to contact DMS Travel for business.</p>
<p>
    The vertical alignment centers the user's gaze so they don't have to scan all over to find the content they want. It also makes browsing easier because it avoids the need to look left and right for links and text. Scrolling up and down is sufficient.
</p>
<p>
    The repetition creates a visual grouping amongst a collection of similar elements. This visual grouping makes it easier to create relations being the elements for navigation purposes.
</p>
<p>
    The relative size of all the elements on all pages is large. The reason for this is I want images to be clear to the user, and limit the amount of information I present to them. Since the elements are larger they take up more screen estate, with the trade off being less information presented - which is a benefit for this application.
  </p>
</section>
