.banner {
    background-color: black;
    text-align: center;
}
.banner h1 {
    color: white;
    display: inline-block;
    width: 100%;
}
.banner button {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

main {
    width: 640px;
    margin: auto;
}

.search-form {
    text-align: right;
    margin: 10px 0;
}

.grid {
}
.grid .row {
    width: 100%;
}
.grid .row .column-1-3 {
    width: 213.33333px;
    display: inline-block;
    float: left;
}
.grid:after {
    display: table;
    clear: both;
    content: "";
}

.image {
    border: 1px solid black;
    padding: 5px;
    margin: 3px;
}
.image img {
    width: 100%;
}
.image .caption {
    text-align: center;
}

footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
}
footer .name {
    color: white;
    text-align: left;
}
