$primary-color: black;
$nav-background-color: red;
$content-width: 1170px;

body {
    overflow-x: hidden;
}

body {
    background-image: url('../images/beach-bg.jpg');
    font-size: 2em;
    background-position: center top;
    background-attachment: fixed;
}

main, header, nav {
    width: $content-width;
    margin: auto;
}


@keyframes grow {
    0% { transform: scale(1.0); background-color: initial; padding: 0; }
    50% { transform: scale(1.1); background-color: #3b5998; padding: 0 0.5em; }
    100% {transform: scale(1.0); background-color: initial;  padding: 0;}
}

@keyframes loading {
    0% {
        background-color: white;
        width: 0%;
        left: 0%;
    }
    50% {
        background-color: blue;
        width: 50%;
        left: 100%;
    }
    100% {
        background-color: white;
        width: 100%;
        left: -100%;
    }
}

#splash {
    text-align: center;

    #loading {
        height: 2px;
        position: absolute;
        animation-name: loading;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    
    .message {
        color: white;
	text-shadow: 0 0 0.2em black;

        .login {
            display: inline-block;
            border-radius: 5px;
            animation-name: grow;
            animation-duration: 10s;
            animation-iteration-count: infinite;
        }
    }
}

$title-color: white;

header {
    padding-bottom: 2em;
    padding-top: 2em;
    
    .logo {
    }
    .title {
	text-shadow: 0 0 2em black;
	h1,small { color: $title-color; }
	h1 { font-size: 3em; }
	display: inline-block;
	vertical-align: middle;
	font-family: 'Pacifico', cursive;
	padding-left: 1em;
    }
}

.nav {
    background-color: white;
}

.col-sm-4 {
    padding-top: 1em;
}

.description {
    background-color: white;
     box-shadow: 0 0 1em;
     padding: 2em;
     text-align: justify;
}

main > h2 {
    text-align: center;
    color: white;
    font-size: 4em;
    text-shadow: 0 0 0.2em black;
}

.destinations, .comments, .photos {
    text-align: center;

    & > h2 {
	padding-bottom: 0.5em;
	color: white;
	font-size: 3em;
	text-shadow: 0 0 0.2em black;
	strong {
	    color: rgb(253, 167, 141);
	}
    }

    .comment {
	background-color: white;
	box-shadow: 0 0 0.5em black;
	text-align: left;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	margin-top: 1em;

	img {
	    width: 6em;
	}

	.text {
	    display: inline-block;
	}
    }

    .destination {
	  background-color: white;
	  box-shadow: 0 0 1em;
                     
	  img {
	      width: 300px;
              height: 200px;
	  }

	  .likes, .like {
	      display: inline-block;
	  }

          .information {
              position: absolute;
              color: white;
              bottom: 0;
              right: 2.5em;
              text-shadow: 0 0 0.1em black;
          }
    }

    .photo {

        padding: 1em;

        & > div {
            background-color: white;
	    box-shadow: 0 0 1em;

            img {
                margin-top: 1em;
                width: 100%;
                height: 320px;
	    }

	    .likes, .like {
	        display: inline-block;
	    }

            .information {
                position: absolute;
                color: white;
                bottom: 3em;
                right: 1.5em;
                text-shadow: 0 0 0.1em black;
            }
        }
        
    }

}

nav {
    padding-bottom: 2em;
}

.search-form {
    input[type="text"] {
	font-size: 1em;
	height: 2em;
    }

    input[type="submit"] {
	font-size: 1em;
    }
}

footer {
    background-color: white;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-top: 2em;
    text-align: center;
    padding: 10px 15px;
}

.fb-btn {
    position: fixed;
    right: 1em;
    top: 1em;
}
