$primary-color: black;

.banner {
    background-color: $primary-color;
    text-align: center;
    
    h1 {
	color: white;
	display: inline-block;
	width: 100%;
    }
    button {
	float: right;
	margin-right: 20px;
	margin-top: 10px;
    }
}

$content-width: 640px;

main {
    width: $content-width;
    margin: auto;
}

.search-form {
    text-align: right;
    margin: 10px 0;
}

.grid {
    .row {
	width: 100%;
	.column-1-3 {
	    width: $content-width / 3.0;
	    display: inline-block;
	    float: left;
	}
    }

    /*Required because any floating elements are considered to have zero height.
       This is called a "clearfix". http://www.sitepoint.com/clearing-floats-overview-different-clearfix-methods/
       I could have put "clear: both" on the next element (<footer>), but that is not a very robust solution.
    */
    &:after {
    	    display: table;
    	    clear: both;
	    content: "";
    }
}

.image {
    border: 1px solid black;
    padding: 5px;
    margin: 3px;
    height: 170px;
    
    img {
    	width: 100%;
    }
    .caption { text-align: center; }
}

footer {
       background-color: $primary-color;
       position: fixed;
       bottom: 0;
       width: 100%;
       padding-top: 20px;
       .name {
       	     color: white;
       	     text-align: left;
       }
}