body {
  background-image: url("../images/beach-bg.jpg");
  font-size: 2em;
  background-position: center left;
  background-attachment: fixed; }

main, header, nav {
  width: 1170px;
  margin: auto; }

header {
  padding-bottom: 2em;
  padding-top: 2em; }
  header .logo {
    border-radius: 5px; }
  header .title {
    text-shadow: 0 0 2em black;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Pacifico', cursive;
    padding-left: 1em; }
    header .title h1, header .title small {
      color: white; }
    header .title h1 {
      font-size: 3em; }

.nav-pills > li + li {
  background-color: white; }

.nav-pills li:nth-child(3) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.col-sm-4 {
  padding-top: 1em; }

main > h2 {
  text-align: center;
  color: white;
  font-size: 4em;
  text-shadow: 0 0 0.2em black; }

.destinations, .comments {
  text-align: center;
  margin-top: 4em; }
  .destinations > h2, .comments > h2 {
    padding-bottom: 0.5em;
    color: white;
    font-size: 3em;
    text-shadow: 0 0 0.2em black; }
    .destinations > h2 strong, .comments > h2 strong {
      color: #fda78d; }
  .destinations .comment, .comments .comment {
    background-color: white;
    box-shadow: 0 0 0.5em black;
    border-radius: 0.2em;
    text-align: left;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-top: 1em; }
    .destinations .comment img, .comments .comment img {
      width: 6em; }
    .destinations .comment .text, .comments .comment .text {
      display: inline-block; }
  .destinations .destination, .comments .destination {
    background-color: white;
    border-radius: 0.3em;
    box-shadow: 0 0 1em;
    padding: 0 !important; }
    .destinations .destination img, .comments .destination img {
      width: 100%;
      border-top-right-radius: 0.3em;
      border-top-left-radius: 0.3em; }
    .destinations .destination .likes, .destinations .destination .like, .comments .destination .likes, .comments .destination .like {
      display: inline-block; }

nav {
  padding-bottom: 2em; }

.search-form input[type="text"] {
  font-size: 1em;
  height: 2em; }
.search-form input[type="submit"] {
  font-size: 1em; }

footer {
  background-color: white;
  box-shadow: 0 0 0.5em black;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-top: 2em;
  text-align: center; }

.fb-btn {
  position: fixed;
  right: 1em;
  top: 1em; }
